.main{
  display: inline-flex;
  position: relative;
}
.page1{
    background-color: #121481;
    color: white;
    height: 100%;
    width: 1100px;
    margin: 0;
    margin-right: 100px;
    z-index: -1;
}
.page2{
  background-color: #484997;
  color: white;
  width: ;
  height: 100%;
  margin: 0;
  margin-right: 80px;
  z-index: -1;

}
.page3{
  background-color: #6a6cc0;
  color: white;
  height: 100%;
  margin: 0;
  margin-right: 60px;
  z-index: -1;

}
.page4{
  background-color: #b8b9ee;
  color: white;
  height: 100%;
  margin: 0;
  margin-right: 40px;
  z-index: -1;

}
.page5{
  background-color: #f2f2f7;
  color: black;
  height: 100%;
  margin: 0;
  margin-right: 0px;
  z-index: 0;

}